.grid {
  display: grid;
  grid: repeat(auto-fill, 1fr) / repeat(5, auto);
  grid-gap: 12px 10px;
  grid-auto-rows: 100px;
  justify-items: start;
  align-items: start;
  max-width: 950px;
  margin: auto;
}

.bigAddButton {
  grid-column-start: 2;
  grid-column-end: 4;
}

.bigDeleteButton {
  grid-column-start: 4;
  grid-column-end: 6;
}