.content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-sizing: border-box;
  width: 50px;
  height: 368px;
  margin-right: 10px;
}

.content:last-of-type {
  margin: 0;
}

.column {
  max-height: 320px;;
  width: 100%;
}

.default {
  background-color: var(--default-color);
}

.changing {
  background-color: var(--changing-color);
}

.modified {
  background-color: var(--modified-color);
}
